@keyframes blink {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.input-cursor {
    animation: blink .6s linear infinite alternate;
}

.input-cursor {
    display: inline-block;
    width: 2px;
    height: 7vh;
    background-color: white;
    margin-left: 8px;
    margin-right: 8px;
}
