  .game-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    gap: 2vw;
  }

  .red-button{
    background-color: #cc334c;
  }


  .hidden-input {
    position: absolute;
    top: -100px;
    opacity: 0;
  }


  .text-typing-div {
    color: white;
    font-size: 6em;
    font-weight: bold;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
  }

  .choosen-letter {
    color: #744b76;
  }